PORT=3000
OPENAI_API_KEY=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
MONGODB_URI=mongodb+srv://miniprojectmca420_db_user:LrRc7ZOqzE8ZIDyz@jolly.pc58xup.mongodb.net/?retryWrites=true&w=majority&appName=Jolly

OPENAI_MODEL=gpt-4o-mini
# For OpenRouter or custom endpoints
# OPENAI_BASE_URL=https://openrouter.ai/api/v1
